body {
    background-color: black;
    background-size: cover;
    margin: auto;
    padding: auto; 
}
.Btext {
    text-align: center;
    font-size: 34px;
    color: white;
    position: relative;
    top: -30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: auto;
    padding: auto; 
}
.Btext small {
    position: relative;
    top: 40px;
    font-size: 40px;
    margin: auto;
    padding: auto; 
}
.Im {
    width: 85%;
    position: relative;
    top: 70px;
    left: 120px;
    animation: bubble 7s linear infinite;
    bottom: -30px;
    margin: auto;
    padding: auto; 
    height: auto;
}
.typewriter h1 {
    position: relative;
    top: 60px;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid white; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typing 3.5s steps(40, end),
      blink-caret .75s step-end infinite;
      margin: auto;
      padding: auto; 
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    54% { border-color: white; }
  }
.bubbles {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    bottom: -80px;
    margin: auto;
    padding: auto; 
}
@keyframes bubble{
    0%{
        transform: translateY();
        opacity: 0;
        rotate: 0;
    }

    20%{

        opacity: 1;

    }
    40%{

        opacity: 1;

    }
    70%{

        opacity: 1;

    }
    100%{
        transform: translateY(-3vh);
        opacity: 0;
    }
    
}
h2{
    color: white;
    position: relative;
    font-size: 64px;   
    font-family: Georgia, 'Times New Roman', Times, serif;
    align-items: center;
    margin: 0;
    padding: 0;
    text-align: right;
    bottom: -400px;
    margin: auto;
    padding: auto; 
}
p {
    color: white;
    position: relative;
    font-size: 20px;   
    font-family: Georgia, 'Times New Roman', Times, serif;
    align-items: center;
    margin: 0;
    padding: 0;
    text-align: right;
    bottom: -50px;
    margin: auto;
    padding: auto; 
}
.Img {
    width: 400px;
    height: 400px;
    position: relative;
    bottom: -350px;
    align-items: left;
    margin: auto;
    padding: auto; 
    height: auto;
    width: auto; 
}
button {
        display: inline-block;
        background-color: transparent;
        border-radius: 10px;
        border: 4px double #cccccc;
        color: #eeeeee;
        text-align: center;
        font-size: 28px;
        padding: 20px;
        width: 150px;
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        -o-transition: all 0.5s;
        transition: all 0.5s;
        cursor: pointer;
        margin: 5px;  
        text-decoration: none;
        margin: auto;
        padding: auto; 
}
h4 {
    color: white;
    position: relative;
    font-size: 64px;   
    font-family: Georgia, 'Times New Roman', Times, serif;
    align-items: center;
    margin: 0;
    padding: 0;
    text-align: right;
    bottom: -580px;
    right: 200px;
    margin: auto;
    padding: auto; 
}
.C {
    width: 400px;
    height: 400px;
    position: relative;
    bottom: -650px;
    left: 1000px;
    margin: auto;
    padding: auto;
    height: auto;
    width: auto; 

}
.T1 {
    color: white;
    position: relative;
    font-size: 30px;   
    font-family: Georgia, 'Times New Roman', Times, serif;
    align-items: right;
    margin: 0;
    padding: 0;
    bottom: -300px;  
    margin: auto;
    padding: auto; 
}
a {
    text-decoration: none;
    color: white;
    margin: auto;
    padding: auto; 
}
a:hover button{
    text-decoration: white;
}
@media (max-width: 701px) {
    .Img {
        position: relative;
        top: 560px;
        width: 50%;
        height: 80%;
        left: 1px;
    }
    h2 {
        position: relative;
        top: 200px;
    }
    h1 {
        font-size: large;
    }
    .P1 {
       position: relative;
       right: 100px;
    }
    h4 {
        position: relative;
        left: -100px;
        top: 200px;
    }
    .C {
       position: relative;
       left: 10px;
       width: 80%;
       height: 60%;
       top: 300px;
    }
}
